USE [master]
GO
/****** Object:  Database [lab_bulkcopy]    Script Date: 1/21/2021 4:50:21 PM ******/
CREATE DATABASE [lab_bulkcopy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lab_bulkcopy', FILENAME = N'/var/opt/mssql/data/lab_bulkcopy.mdf' , SIZE = 925696KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lab_bulkcopy_log', FILENAME = N'/var/opt/mssql/data/lab_bulkcopy_log.ldf' , SIZE = 991232KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lab_bulkcopy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lab_bulkcopy]
GO
/****** Object:  Table [dbo].[TBL_NAME]    Script Date: 1/21/2021 4:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NAME](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[A] [nchar](20) NULL,
	[B] [nchar](20) NULL,
	[C] [nchar](20) NULL,
	[D] [nchar](20) NULL,
	[E] [nchar](20) NULL,
	[F] [nchar](20) NULL,
	[G] [nchar](20) NULL,
	[H] [nchar](20) NULL,
	[I] [nchar](20) NULL,
	[J] [nchar](20) NULL,
 CONSTRAINT [PK_TBL_NAME] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
